:root {
    --bs-sans-serif: 'Quicksand', sans-serif;
    --bs-primary: #1e3a8a;
    --bs-secondary: #eeeeee;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', sans-serif;
    font-weight: 400;
}
